{% extends "Base.html" %}

{% block title %}Ingresar Receta{% endblock %}

{% block content %}
<div class="my-3 p-3 bg-white rounded box-shadow">
  <form action="http://localhost:5000/Registrar_Ingrediente" method='post' class="form-floating">
    <label for="floatingInputValue">Nombre del ingrediente</label>
    <input type="text" name="nombre" class="form-control" id="floatingInputValue" placeholder="Nombre del ingrediente">
    <label for="floatingInputValue">Cantidad del Ingrediente</label>
    <input type="text" name="cantidad" class="form-control" id="floatingInputValue" placeholder="Cantidad">
    <label for="floatingInputValue">Unidad de medida</label>
    <input type="text" name="unidad" class="form-control" id="floatingInputValue" placeholder="Unidad de medida">
    <input type="text" name="id" value="{{id}}" hidden="True">
    <br>
    <button type="submit" class="btn btn-secondary mb-3">Registrar Ingrediente</button>
    <a class="btn btn-secondary mb-3" href="http://localhost:5000/Bienvenido">Guardar Receta</a>
  </form>
  </div>
  {% block error %} {% endblock %}
{% endblock %}